<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
</head>
<body>
<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Daily Weather Update
      </h1>
      <h2 class="subtitle">
        simply simple
      </h2>
    </div>
  </div>
</section>
<section class="section">
    <div class="container">
        <article class="message">
          <div class="message-header">
            <p>What the meteo says</p>
            <button class="delete" aria-label="delete"></button>
          </div>
          <div class="message-body">
            {{news}}
          </div>
        </article>
        <article class="message">
          <div class="message-header">
            <p>General Info</p>
            <button class="delete" aria-label="delete"></button>
          </div>
          <div class="message-body">
            {{general}}
          </div>
        </article>
    </div>
</section>
</body>
</html>